@import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "oregano", cursive;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.fruits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* border: 2px solid #ccc; */
  padding: 20px;
  place-content: center;
}
.fruit-box {
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 150px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
button {
  margin-top: 10px;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
.favorites-list {
  margin-top: 50px;
  border: 1px solid #ff9800;
  padding: 20px;
}
.favorites-list h2 {
  text-align: center;
  color: #ff9800;
}
.favorites-list ul {
  list-style-type: none;
}
.favorites-list li {
  background-color: #fff3e0;
  margin: 5px 0;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.fruit-image {
  width: 100px;
  height: 100px;
}
p {
  font-family: "oregano", cursive;
  margin-top: 10px;
  color: #4caf50;
  font-size: 2rem;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
h2 {
  text-align: center;
  font-size: 3rem;
}
.fruits-container:hover > :not(:hover) {
  opacity: 0.8;
  filter: blur(2px);
}
